.container-tiny-line-chart {
    position:relative;
    max-width: 258px;
    width:32%;
    height:263px;
    background:#FF0000;
    color: #fffcfc45;
    border-radius: 7px;
    box-shadow:rgba( 0, 0, 0, 0.212);
}

.title-tiny-line-chart {
    font-family: 'Roboto';
    color:#ffffff7f;
    font-size: 15px;
    font-weight: 500;
    line-height:24px;
    width:147px;
    position:relative;
    left: 20px;
}