.container-simple-radar-chart {
    width:258px;
    height:263px;
    position: relative;
    background-color: #282d30;
    top:90px;
    left:450px;
    border-radius: 7px;
}
.radar-chart {
    position:absolute;
    left:-230px;
}
