.container-simple-radar-chart {
    width:240px;
    height:250px;
    position: relative;
    background-color: #282d30;
    top:-250px;
    left:410px;
    border-radius: 7px;
}
.radar-chart {
    position:absolute;
    left:-230px;
}
