.container-simple-radar-chart {
    max-width:258px;
    width:32%;
    height:263px;
    position: relative;
    background-color: #282d30;
    border-radius: 7px;
    box-shadow:rgba( 0, 0, 0, 0.212);
}


