.container-pie-bar-chart {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position:relative;
    max-width:258px;
    width:32%;
    height:263px;
    background: #FBFBFB;
    border-radius: 7px;
    box-shadow:rgba( 0, 0, 0, 0.212);
}

.circle {
    position:absolute;
    background: white;
    height:130px;
    width:130px;
    border-radius: 100%;
}
.title-pie-chart {
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    color: #20253A;
    position:relative;
    right:31%;
}

.percentage-score {
    position: absolute;
    top : -5%;
    left:28%;
    width:55px;
    font-family: "Roboto";
    color: #282D30;
    font-size :26px;
    font-weight: 700;
    text-align: center;
    z-index: 2;
}

.objectif-score {
    position: absolute;
    top : 35%;
    left:26%;
    width:60px;
    font-family: "Roboto";
    color: #74798C;
    font-size :16px;
    font-weight: 500;
    text-align: center;
    z-index: 2;
}
