.container-simple-bar-chart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width:835px;
    width:74.5%;
    height:220px;
    padding-top: 40px;
    padding-bottom: 60px;
    background:#FBFBFB;
    position: relative;
    left:0px;
    top:80px;
    box-shadow:rgba( 0, 0, 0, 0.212);
}

.title-simple-bar-chart {
    position:relative;
    right:33%;
    bottom:5%;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 15px;
}

.legend {
    position:relative;
    object-fit: cover;
    left:26%;
    bottom:20%;
    width: 36%;
    height:25px;
}
