.container-cards {
    position: relative;
    margin-top:-260px;
    margin-left:77%;
    max-width:198px;
    width:20%;
    height:610px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.back-card {
    max-width:198px;
    width:100%;
    height:610px;
}