.container-radial-bar-chart {
    position:relative;
    width:240px;
    height:250px;
    background: #FBFBFB;
    border-radius: 7px;
    top:-500px;
    left:670px;
}
.radial-bar {
    position:absolute;
    left:-235px;
}
.circle {
    width:159px;
    height: 159px;
    border:1px solid black;
    background:white;
}