.container-radial-bar-chart {
    position:relative;
    max-width:240px;
    width:30%;
    height:233px;
    background: #FBFBFB;
    border-radius: 7px;
}
.radial-bar {
    position:absolute;
    left:-235px;
}
.circle {
    width:159px;
    height: 159px;
    border:1px solid black;
    background:white;
}